*{
    font-family: 'Poppins',sans-serif;
}


body{
    background-image: url("../images/login1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
    
}


.head {
    display: flex;
    align-items: center; 
    min-height: 100vh;
    position: fixed;
    left: 0; 

    padding-left: 100px;

    
    
}

h1 {
    font-size: 110px; 
    color: #ffffff;
    text-align: center;
    margin-right: 20px; 
    text-shadow: 0 0 20px #ffffff ;
}




.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    display: flex;
    right: 7%;
    align-items: center;
    min-height: 100vh;
    position: fixed;

    
}

.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 55px 25px;
    border-style: outset;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.8);

    
}

span{
    color: #ffffff;
    font-size: 27px;
    display:flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header{
    color: #ffffff;
    font-size: 55px;
    display: flex;
    justify-content: center;
    padding: 5px 0 10px 0;
}

.input-details{
    display: flex;
    flex-direction: column;
}

.submit:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 40px #f49200 ;
    color: #fff;
   
}




.input{
    height: 45px;
    width: 100%;
    font-size: 18px;
    border:none;
    outline:none;
    border-radius: 30px;
    color:#000000;
    padding: 0 0 0 45px;
    background:rgba(255, 255, 255, 0.5) ;
    margin-bottom: 30px;

        background-image: url('../images/avatar.png');
        padding-left: 30px;
        background-position: left center;
        background-repeat: no-repeat;
        background-position: 7px center; 
        background-size: 20px; 
}

#pass{
    background-image: url('../images/pass.png');
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    background-position: 7px center; 
    background-size: 20px; 
}

::-webkit-input-placeholder{
    color: #000000;
}


.submit{
    border: none;
    border-radius: 300px;
    font-size: 20px;
    height: 45px;
    outline: none;
    width: 100%;
    background: #7d2ae8;
    box-shadow: 0 0 40px #7d2ae8 ;
    cursor: pointer;
    transition: .3s;
    color: #fff;
} 

.bottom{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: small;
    color: #ffffff;

}

.left{
    display: flex;
}

label a{
    color: #00fff2;
    text-decoration: none;
   
}

.sign{
    display: flex;
    flex-direction:row;
    font-size: small;
    color: #fff;
    margin-top: 10px;
    padding-left: 4px;
    padding-bottom: 10px;
}